@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        /* This ensures the base background color is applied correctly within Tailwind's layer system. */
        @apply bg-slate-900;
    }
}
